.timetable-manage-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.lecture {
    margin-bottom: 20px;
}

.section {
    background: #f6f8fa;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.section input[type="text"],
.section input[type="number"] {
    margin-right: 10px;
    margin-bottom: 5px;
}

.section button {
    margin-top: 5px;
}

.timetable-manage-container button {
    display: block;
    padding: 5px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.lectureName {
    background-color: #c1c1c1;
    color: rgb(205, 50, 50);
}

/* 삭제 버튼 스타일 */
.lecture .delete-button,
.section .delete-button {
    background-color: #ff4d4f;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 10px;
}

.lecture .delete-button:hover,
.section .delete-button:hover {
    background-color: #ff7875;
    /* 버튼에 마우스를 올렸을 때 밝은 빨간색으로 변경 */
}